<div class="container m-5">
    <div class="card-header bg-secondary text-white">Update Info</div>
   
   <div><form #myFormTemplate = "ngForm" (ngSubmit)="updateEmployee()">
  <div  class="card-body">

    
      <div class="mb-3 mt-3" >
          <label for="employeeId" class="form-label">employeeId:</label>
         {{newEmployee.employeeId}}
        </div>



      <div class="mb-3 mt-3" >
        <label for="firstName" class="form-label">firstName</label>
      
        <input 
        type="text" 
        class="form-control" 
        id="firstName" placeholder="firstName" 
        name="firstName"
        required
        #firstName="ngModel"
        (change)= "test(firstName)" 
        [(ngModel)]="newEmployee.firstName">
        <div *ngIf="!firstName.valid" class="small text-danger">firstName!</div>
      </div> 


     <div class="mb-3 mt-3" >
        <label for="lastName" class="form-label">lastName</label>
       
        <input 
        type="text" 
        class="form-control" 
        id="lastName" placeholder="lastName" 
        name="lastName"
        required
        #lastName="ngModel"
        (change)= "test(lastName)" 
        [(ngModel)]="newEmployee.lastName">
        <div *ngIf="!lastName.valid" class="small text-danger">lastName!</div>
      </div> 


      <div class="mb-3 mt-3" >
        <label for="email" class="form-label">email</label>
       
        <input 
        type="email" 
        class="form-control" 
        id="email" placeholder="email" 
        name="email"
        required
        #email="ngModel"
        (change)= "test(email)" 
        [(ngModel)]="newEmployee.email">
        <div *ngIf="!email.valid" class="small text-danger">email!</div>
      </div>


     <div class="mb-3 mt-3" >
        <label for="phone" class="form-label">phone</label>
       
       <input 
        type="text" 
        class="form-control" 
        id="phone" placeholder="phone" 
        name="phone"
        required
        #phone="ngModel"
        (change)= "test(phone)" 
        [(ngModel)]="newEmployee.phone">
        <div *ngIf="!phone.valid" class="small text-danger">phone!</div>
      </div>
      </div> 
 
  <div class="card-footer bg-secondary"><button
      [disabled]="!myFormTemplate.valid" 
      type="submit" 
      class="btn btn-light" >UPDATE</button></div>
</form>
</div> 







