<div class="container">
    <h3>Employee Home</h3>
    <div>
      <button type="button" class="btn btn-success" (click)="toggleAddForm()">Submit Request</button>
      <div class="card m-5" *ngIf="toggleAdd">
        <div class="card-header bg-success text-white">Submit</div>
        <div  class="card-body">
          <form>
           
            <div class="mb-3 mt-3" >
              <label for="dateSubmitted" class="form-label">Enter Date</label>
              <input 
              type="text" 
              class="form-control" 
              id="dateSubmitted" placeholder="Enter Date" 
              name="dateSubmitted"
              [(ngModel)]="newReimbursement.dateSubmitted">
            </div>

            <div class="mb-3" >
              <label for="dateOfTransaction" class="form-label">Date OF Transaction</label>
              <input 
              type="text" 
              class="form-control" 
              id="dateOfTransaction" placeholder="dateOfTransaction" 
              name="dateOfTransaction"
              [(ngModel)]="newReimbursement.dateOfTransaction">
            </div>

            <div class="form-check mb-3">
              <label for="employeeID" class="form-label"> employeeID</label>
              <input 
              type="text" 
              class="form-control" 
              id="employeeID" placeholder="employeeID." 
              name="employeeID"
              [(ngModel)]="newReimbursement.employeeId">
            </div>

            <div class="form-check mb-3">
              <label for="amount" class="form-label">amount</label>
              <input 
              type="text" 
              class="form-control" 
              id="amount" placeholder="amount" 
              name="amount"
              [(ngModel)]="newReimbursement.amount">
            </div>

            <div class="form-check mb-3">
              <label for="merchant" class="form-label">merchant</label>
              <input 
              type="text" 
              class="form-control" 
              id="merchant" placeholder="merchant" 
              name="merchant"
              [(ngModel)]="newReimbursement.merchant">
            </div>
            <div class="form-check mb-3">
              <label for="status" class="form-label">status</label>
              <input 
              type="text" 
              class="form-control" 
              id="status" placeholder="status" 
              name="status"
              [(ngModel)]="newReimbursement.status">
            </div>
          </form>
        </div>

    <div class="card-footer bg-success"><button type="button" class="btn btn-light" (click)="addReimbursement()">SUBMIT</button>
          </div>
      </div>
    </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>ReimbursementId</th>
                <th>expense type</th>
                <th>status</th>
                <th>employeeID</th>
                <th>Amount</th>
                <th>merchant</th>
                <th>dateOfTransaction</th>
                <th>Edit</th>
    
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor = "let employee of allEmployees" > 
                <td>{{employee.employeeID}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phone}}</td> -->
              <tr *ngFor = "let reimbursement of allReimbursements" > 
                  <td>{{reimbursement.reimbursementId}}</td>
                  <td>{{reimbursement.dateSubmitted}}</td>
                  <td>{{reimbursement.dateOfTransaction}}</td>
                  <td>{{reimbursement.employeeId}}</td>
                  <td>{{reimbursement.amount}}</td>
                  <td>{{reimbursement.merchant}}</td>
                  <td>{{reimbursement.status}}</td>
              
                  <td><button 
                    type="button" 
                    id = "ngSubmit"
                    class="btn btn-primary"
                    (click)="goToEditReimbursement(reimbursement.reimbursementId)">
                    <i class="material-icons">edit</i>
                  </button></td>
              <!-- <td><button S
                type="button" 
                class="btn btn-danger" 
                (click)="deleteEmployee(newEmployee.employeeID)"
              ><i class="material-icons">delete</i></button></td> -->

            </tr>
          </tbody>
      </table>
  </div>

    
                  
              
        
