<div>
    <h3>Employee Home</h3>
    <div>
      <button type="button" class="btn btn-success" (click)="toggleAddForm()">Submit Request</button>
      <div class="card m-5" *ngIf="toggleAdd">
        <div class="card-header bg-success text-white">Update</div>
        <div  class="card-body">

          <form>
           
            <div class="mb-3" >
              <label for="dateSubmitted" class="form-label">Enter Date</label>
              <input 
              type="text" 
              class="form-control" 
              id="dateSubmitted" placeholder="Enter Date" 
              name="dateSubmitted"
              [(ngModel)]="newReimbursement.dateSubmitted">
            </div>
            <div class="mb-3" >
              <label for="dateOfTransaction" class="form-label">Date OF Transaction</label>
              <input 
              type="text" 
              class="form-control" 
              id="dateOfTransaction" placeholder="dateOfTransaction" 
              name="dateOfTransaction"
              [(ngModel)]="newReimbursement.dateOfTransaction">
            </div>
            <div class="form-check mb-3">
              <label for="employeeID" class="form-label"> employeeID</label>
              <input 
              type="text" 
              class="form-control" 
              id="employeeID" placeholder="employeeID." 
              name="employeeID"
              [(ngModel)]="newReimbursement.employeeID">
            </div>
            <div class="form-check mb-3">
              <label for="amount" class="form-label">amount</label>
              <input 
              type="text" 
              class="form-control" 
              id="amount" placeholder="amount" 
              name="amount"
              [(ngModel)]="newReimbursement.amount">
            </div>
            <div class="form-check mb-3">
              <label for="merchant" class="form-label">merchant</label>
              <input 
              type="text" 
              class="form-control" 
              id="merchant" placeholder="merchant" 
              name="merchant"
              [(ngModel)]="newReimbursement.merchant">
            </div>
            <div class="form-check mb-3">
              <label for="status" class="form-label">status</label>
              <input 
              type="text" 
              class="form-control" 
              id="status" placeholder="status" 
              name="status"
              [(ngModel)]="newReimbursement.status">
            </div>
            <div class="card-footer bg-success"><button type="button" class="btn btn-light" (click)="addReimbursement()">SUBMIT</button></div>

          </form>
      </div>
    </div>

    <div class="container m-5">
      <div class="card-header bg-secondary text-white">Edit User</div>
      <form #myFormTemplate = "ngForm" (ngSubmit)="updateEmployee()">
      <div  class="card-body">
  
        
          <div class="mb-3" >
              <label for="employeeID" class="form-label">Employee ID:</label>
             {{newEmployee.employeeID}}
            </div>

          <div class="mb-3" >
            <label for="email" class="form-label">email</label>
            <!-- Currently not letting  me change full to first name in places-->
            <input 
            type="email" 
            class="form-control" 
            id="email" placeholder="email" 
            name="email"
            required
            #email="ngModel"
            (change)= "test(email)" 
            [(ngModel)]="newEmployee.email">
            <div *ngIf="!email.valid" class="small text-danger">email!</div>
          </div>

          <div class="mb-3" >
            <label for="password" class="form-label">password</label>
            <!-- Currently not letting  me change full to first name in places-->
            <input 
            type="password" 
            class="form-control" 
            id="password" placeholder="password" 
            name="password"
            required
            #password="ngModel"
            (change)= "test(password)" 
            [(ngModel)]="newEmployee.password">
            <div *ngIf="!password.valid" class="small text-danger">password!</div>
          </div>

          <div class="mb-3" >
            <label for="firstName" class="form-label">firstName</label>
            <!-- Currently not letting  me change full to first name in places-->
            <input 
            type="text" 
            class="form-control" 
            id="firstName" placeholder="firstName" 
            name="firstName"
            required
            #firstName="ngModel"
            (change)= "test(firstName)" 
            [(ngModel)]="newEmployee.firstName">
            <div *ngIf="!firstName.valid" class="small text-danger">firstName!</div>
          </div>

          <div class="mb-3" >
            <label for="lastName" class="form-label">lastName</label>
            <!-- Currently not letting  me change full to first name in places-->
            <input 
            type="text" 
            class="form-control" 
            id="lastName" placeholder="lastName" 
            name="lastName"
            required
            #lastName="ngModel"
            (change)= "test(lastName)" 
            [(ngModel)]="newEmployee.lastName">
            <div *ngIf="!lastName.valid" class="small text-danger">lastName!</div>
          </div>

          <div class="mb-3" >
            <label for="phone" class="form-label">phone</label>
            <!-- Currently not letting  me change full to first name in places-->
            <input 
            type="tel" 
            class="form-control" 
            id="phone" placeholder="phone" 
            name="phone"
            required
            #phone="ngModel"
            (change)= "test(phone)" 
            [(ngModel)]="newEmployee.phone">
            <div *ngIf="!phone.valid" class="small text-danger">phone!</div>
          </div>
          
        
       
  
      </div>
      <div class="card-footer bg-secondary"><button
          [disabled]="!myFormTemplate.valid" 
          type="submit" 
          class="btn btn-light" ></button>UPDATE</div>
  </form>
  </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>ReimbursementId</th>
            <th>Date Submitted</th>
            <th>Date Of Transaction</th>
            <th>employeeID</th>
            <th>Amount</th>
            <th>merchant</th>
            <th>status</th>
            <th>Edit</th>

          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor = "let employee of allEmployees" > 
            <td>{{employee.employeeID}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phone}}</td> -->
          <tr *ngFor = "let reimbursement of allReimbursements" > 
              <td>{{reimbursement.reimbursementID}}</td>
              <td>{{reimbursement.dateSubmitted}}</td>
              <td>{{reimbursement.dateOfTransaction}}</td>
              <td>{{reimbursement.employeeID}}</td>
              <td>{{reimbursement.amount}}</td>
              <td>{{reimbursement.merchant}}</td>
              <td>{{reimbursement.status}}</td>
            
   
              
              <td><button 
                type="button" 
                class="btn btn-primary"
                (click)="goToEditReimbursement(newReimbursement.employeeID)">
                <i class="material-icons">edit</i>
              </button></td>

            
              <!-- <td><button 
                type="button" 
                class="btn btn-danger" 
                (click)="deleteEmployee(newEmployee.employeeID)"
              ><i class="material-icons">delete</i></button></td> -->

              
          
          </tr>
      
        </tbody>
      </table>
</div>

